 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');



 * {
     margin: 0%;
     padding: 0%;
 }

 body {
     max-width: fit-content;
     width: 100%;
     margin-left: 1%;
 }

 /* header section */

 header {
     display: flex;
 }

 .logo {
     width: 30%;
     padding-left: 5%;
     padding-top: 1%;
 }

 .logo img {
     width: 40%;
 }

 .search {
     display: flex;
     width: 40%;
     margin-top: 2%;
     border: 1px solid gray;
     height: 0%;
 }

 .search-button {
     width: 18%;
 }

 .search-button img {
     width: 35%;
     margin-left: 45%;
     margin-top: 14%;
     margin-bottom: 10%;

 }

 input {
     margin-top: 6%;
     border: none;
 }

 .navbar {
     display: flex;
     width: 130%;
     margin-top: 0.5%;
     justify-content: space-around;
     padding: 2%;
     color: rgba(2, 15, 34, 0.60);
     font-family: 'Roboto', sans-serif;
 }

 a {
     text-decoration: none;
     font-size: 20px;
     color: rgba(2, 15, 34, 0.60);
 }


 /* overview section */

 .overview {
     display: flex;
     margin-left: 3%;
     margin-top: 1.5%;
 }

 .overview img {
     border-radius: 32px;
     width: 100%;
 }

 /* class-schedule heading section */

 .class-schedule {
     display: flex;
     font-family: 'Roboto', sans-serif;
 }

 .line1 {
     position: absolute;
     height: 1.5px;
     background-color: #F4BCAE;
     margin-top: 4%;
     width: 16%;
     margin-left: 26.4%;
 }

 h1 {
     width: 70%;
     margin-top: 3%;
     margin-left: 45%;
 }

 .line2 {
     position: absolute;
     height: 1.5px;
     background-color: #F4BCAE;
     width: 16%;
     margin-top: 4%;
     margin-left: 59%;
 }

 /* days section */

 .days {
     display: flex;
     margin-top: 4%;
     justify-content: space-between;
     padding-left: 22%;
     padding-right: 15%;
     font-weight: 600;
     color: rgba(2, 15, 34, 0.60);
     font-family: 'Roboto', sans-serif;
 }


 /* schedule img section */

 .schedule-section {
     display: flex;
     margin-left: 5%;
     margin-top: 3%;
 }

 table {
     width: 99%;
 }

 table img {
     display: flex;
     margin-left: 8%;
     margin-bottom: 10%;
 }

 table,
 td {
     border: 0.5px solid #B5B5B5;
     border-collapse: collapse;
     padding: 50px;
     border-top: transparent;
 }

 .trampoline {
     display: flex;
     justify-content: center;
 }



 /* table letters section */

 h3 {
     display: flex;
     justify-content: center;
     margin-bottom: 5%;
     color: var(--red-60, #DE350B);
     font-family: 'Roboto', sans-serif;
 }

 p {
     display: flex;
     justify-content: center;
     margin-bottom: 5%;
     font-family: 'Open Sans', sans-serif;
 }

 h4 {
     display: flex;
     justify-content: center;
     font-family: 'Open Sans', sans-serif;
 }














 /* schedule-section */

 /* .schedule-section {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-collapse: collapse;

}

.first-row {
    display: flex;
    margin-right: 15%;
}

.yoga {
    border: 0.5px solid #B5B5B5;
    padding: 5%;  
}

.step-dance {
    border: 0.5px solid #B5B5B5;
    padding: 5%;
}

.spinning {
    border: 0.5px solid #B5B5B5;
    padding: 5%;
}

.nutrition {
    border: 0.5px solid #B5B5B5;
    padding: 5%;
}

.boxing {
    border: 0.5px solid #B5B5B5;
    padding: 5%;
}

.second-row {
    position: absolute;
    display: flex;
    margin-top: 14%;
    width: 60%;
    border-collapse: collapse;
}

.hict {
    border: 0.5px solid #B5B5B5;
    padding: 4%;
    height: 10%;
}

.skipping {
    border: 0.5px solid #B5B5B5;
    padding: 4%;
    height: 10%;
}

.karate {
    border: 0.5px solid #B5B5B5;
    padding: 4%;
    height: 10%;
}

.weight-loss {
    border: 0.5px solid #B5B5B5;
    padding: 4%;
    height: 10%;
}

.trampoline {
    border: 0.5px solid #B5B5B5;
    padding: 4%;
    padding-right: 7%;
    padding-bottom: 2%;
} */